body {
    background-color: black;
}
html {
    text-align: center;
    font-family: monospace;
}

#calculadora {
    display: inline-block;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
   
}

#container {
    background-color: black;
    border: 10px solid rgba(47,47,47,1);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(4, 80px);
    gap: 2px;
}

#display {
    grid-column: 1 / -1;
    background-color: #b2b9b7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 5.5em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin: 5px;
    
}
input[type=button] {
    margin: 1px;
    font-size: 1em;
}

.operandos {
    background-color: blanchedalmond;
}

.operadores {
    background-color: rgb(72, 157, 255);
}

.top {
    background-color: orange;
}

#zero {
    grid-column: span 2;
}

p {
    color: white;
}

